*
{
    padding: 0;
    margin: 0;
}
html,body
{
     height: 100%;
    background-size: cover;

}

header
{
background-color: black;
height: 7em;
}
footer{
    background-color: black;
    height: 3em;
    margin-top: 460px;
    text-align: center;
    padding: 3px;
}
img
{
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 10px;
}
h1
{
font-family: 'Times New Roman', Times, serif;
color: white;
font-weight: 1500;
padding:10px;

}

.head-tag
{
    float: right;
    margin-right: 60px;
}
.head-tag a
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color:white;
    border: 1px solid white;
    padding: 8px;
    margin-right: 8px;
}
.head-tag a:hover
{
background-color: teal;
color: black;
transition: 0.5s ease-in-out;
}

.label{
font-size: 19px;
margin-top: 20px;
font-weight: normal;
}
 



 h3{
     color: white;
     text-align: center;

 }
 p{
     color: white;
 }

.container1{
background-color: #ffffff;
border-radius: 5px;
box-sizing: border-box;
box-shadow: 0 5px 10px rgba(0,0,0,0.3);
overflow: hidden;
width: 500px;
max-width: 100%;
align-items: center;
justify-content: center;
display: box ;
align-content: center;
margin: 0;


}

.header1{
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;

}
.header1 h2{
text-align: center;
margin: 0px;
}
.form{
    padding: 30px 40px;

}

.form-control{
margin-bottom: 10px;
padding-bottom: 20px;
position: relative;
}
* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;

}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}